/* =================== Configuration ================== */
.configuration {
	background-color: $color-white;
	padding: 2rem;
	min-height: 80vh;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 2rem;
	}

	&__list {
		display: flex;
	}

	&__item {
		padding: 0.7rem 2rem;
		background-color: $color-grey-light-3;
		border-radius: 0.7rem;
		color: currentColor;

		cursor: pointer;

		transition: all 0.25s;

		&.active {
			color: $color-white;
			background: linear-gradient(
				to right,
				$customer-color-primary,
				$customer-color-primary-light
			);

			&:hover {
				background: linear-gradient(
					to right,
					$customer-color-primary,
					$customer-color-primary-light
				);
			}
		}

		&:hover {
			background: $color-grey-light-4;
		}

		&:not(:last-child) {
			margin-right: 2.5rem;
		}
	}

	&__pdf {
		text-align: center;
		padding: 2rem 3.5rem;
		border: 1px solid $color-grey-dark-1;
		border-radius: 0.6rem;
	}

	&__cost {
		margin-bottom: 1rem;

		&--heading {
			font-weight: 400;
		}

		&--number {
			font-weight: 500;
			color: $admin-color-primary;
		}
	}

	&__contact {
		margin-top: 1rem;
	}
}

/* =================== Accessories ================== */
.accessories {
	display: flex;
	align-items: center;

	& > * {
		border: 1px solid #ccc;
	}

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__heading {
		margin-right: 0.5rem;
	}

	&__img {
		width: 10rem;
		height: 10rem;

		img {
			height: 100%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;

		margin-left: 2rem;
	}

	&__price {
		font-size: 1.6rem;
		font-weight: 500;
		color: $admin-color-primary;
	}
}
