/* =================== Form ================== */
.form {
	display: block;
	text-align: center;

	&__group {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	.form__group-big {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__label {
		font-family: $font-montserrat;
		font-size: 1.5rem;
		font-weight: 500;
		text-align: left;

		width: 14rem;
		min-width: 14rem;

		span {
			color: #ee5253;
		}
	}

	&__input {
		font-size: 1.6rem;
		font-family: $font-opensans;
		border-radius: 1.1rem;
		border: 1px solid $color-grey-light-4;

		width: 100%;
		padding: 1rem 1.5rem;

		&:focus {
			outline: none;
		}
	}

	&__area {
		width: 100%;
		font-size: 1.6rem;
		font-family: $font-opensans;
		border-radius: 1.1rem;
		border: 1px solid $color-grey-light-4;

		padding: 1rem 1.5rem;

		&:focus {
			outline: none;
		}
	}

	&__group-file {
		position: relative;
		width: 100%;
		text-align: center;
		margin: 2rem auto 1rem;
	}

	&__input--heading {
		position: relative;

		display: inline-block;
		width: 100%;

		background-color: $color-white;
		border: 1px solid $color-grey-light-4;
		border-radius: 1.1rem;
		color: currentColor;

		padding: 1rem 0;
		cursor: pointer;
		z-index: 0;
	}

	&__input-file {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: inline-block;
		width: 100%;
		height: 5rem;
		z-index: 1;

		opacity: 0;
		cursor: pointer;
	}

	.file-placeholder {
		width: 20rem;
		height: 20rem;
		margin: 1rem auto;
		background-color: $color-grey-light-3;
	}
}
