/* =================== Login ================== */
.login {
	color: $color-font;
	margin-top: 5rem;

	border: 0.8rem solid rgba($color-border, 0.4);
	border-radius: 2rem;

	width: 66vw;
	height: 80vh;

	display: flex;
	justify-content: center;

	margin: 5rem auto;

	& > * {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	&__heading {
		text-align: center;
	}

	&__img {
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		margin-bottom: 3rem;
	}

	&-left {
		width: 50%;
		padding-left: 5rem;
		padding-right: 5rem;
	}

	&-right {
		width: 50%;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			width: 100%;
			height: 100%;

			background: url(../../images/banner08.jpg) no-repeat center/cover;
			border-radius: 0 1rem 1rem 0;
			z-index: -1;
		}
	}

	&-form {
		&__group:not(:last-child) {
			margin-bottom: 3rem;
		}

		&__label {
			display: block;
			font-family: $sourceSerif;
			color: $color-tertiary;
			font-size: 1.6rem;
			font-weight: 600;

			margin-bottom: 0.5rem;
			margin-left: 1rem;
		}

		&__input {
			width: 100%;
			border: 2px solid $color-border;
			padding: 1rem 1rem;
			border-radius: 1rem;
			color: $color-font;

			&:focus {
				outline: none;
			}

			&:invalid {
				border: 2px solid #eb4d4b;
			}

			&:valid {
				border: 2px solid $color-border;
			}
		}

		&__option {
			display: flex;
			justify-content: space-between;
		}
	}
}

.quotes {
	&-box {
		color: $color-font;

		position: absolute;

		&-1 {
			top: 2rem;
			left: 3rem;
		}

		&-2 {
			bottom: 4rem;
			right: 3rem;
		}
	}

	&__parag {
		font-size: 1.6rem;
		color: inherit;

		position: relative;
	}

	&__author {
		font-family: $sourceSerif;
		font-size: 1.6rem;
		color: inherit;

		position: absolute;
		right: 1rem;
	}

	&__icon {
		font-size: 1rem;

		position: absolute;

		&-1 {
			left: -1.5rem;
		}

		&-2 {
			right: -1.5rem;
		}
	}
}
