/* =================== Modal ================== */
%absCenter {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

%modal {
	z-index: 9;
	background-color: $color-white;
	border-radius: 2rem;
	box-shadow: $shadow-dark-1;
	text-align: center;
	padding: 2.5rem 3rem;
}

.modal {
	@extend %absCenter;

	width: 100%;
	height: 100%;

	backdrop-filter: blur(1rem);
	z-index: 8;

	transition: all 0.3s;

	&.hide {
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -2;
	}
}
.add-modal {
	@extend %absCenter;
	@extend %modal;

	width: 50rem;

	&.hide {
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -2;
	}
}

.add-product-modal {
	@extend %absCenter;
	@extend %modal;

	width: 80rem;

	.form__group {
		&:not(:last-child) {
			margin-bottom: 0;
		}
	}

	&.hide {
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -2;
	}
}

.msg-modal {
	@extend %absCenter;
	@extend %modal;

	width: 35rem;

	&__content {
		color: $color-font;
		font-size: 1.6rem;
		word-break: break-word;

		margin-bottom: 1.5rem;
	}
}

.close-modal {
	position: absolute;
	top: 1rem;
	right: 3rem;

	font-size: 2rem;
}
