/* =================== Modal ================== */
%absCenter {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

%modal {
	z-index: 9;
	background-color: $color-white;
	border-radius: 2rem;
	box-shadow: $shadow-dark-1;
	text-align: center;
	padding: 2.5rem 3rem;
}

.modal {
	@extend %absCenter;

	width: 100%;
	height: 100%;

	backdrop-filter: blur(1rem);
	z-index: 8;

	transition: all 0.3s;

	&.hide {
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -2;
	}
}
.add-modal {
	@extend %absCenter;
	@extend %modal;

	width: 50rem;

	&.hide {
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -2;
	}
}

.add-product-modal {
	@extend %absCenter;
	@extend %modal;

	width: 80rem;

	.form__group {
		&:not(:last-child) {
			margin-bottom: 0;
		}
	}

	&.hide {
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -2;
	}
}

.msg-modal {
	@extend %absCenter;
	@extend %modal;

	width: 35rem;

	&__content {
		color: $color-font;
		font-size: 1.6rem;
		word-break: break-word;

		margin-bottom: 1.5rem;
	}
}

.configuration-modal {
	@extend %absCenter;
	@extend %modal;

	width: 80rem;

	&__header {
		display: flex;
		align-items: center;

		margin-bottom: 2rem;
	}

	&__heading {
		margin-bottom: 0;
		margin-right: 3.5rem;
		font-size: 1.8rem;

		color: rgba($customer-color-primary-dark, 0.7);

		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -2.9rem;

			display: inline-block;
			height: 100%;
			width: 3px;
			background-color: rgba($customer-color-primary-dark, 0.5);
		}
	}

	&__filter-choose {
		font-size: 1.4rem;

		padding: 0.5rem 2rem;
		border: 2px solid rgba($customer-color-primary-dark, 0.5);
		border-radius: 4rem;

		i {
			margin-left: 0.5rem;
		}
	}

	&__filter {
		display: flex;
		flex-wrap: wrap;

		&-list {
			position: relative;
			width: fit-content;
			display: inline-block;

			margin-bottom: 2.5rem;

			&:not(:last-child) {
				margin-right: 2rem;
			}

			&--heading {
				padding: 0.7rem 2rem;
				border: 1px solid $customer-color-primary-dark;
				border-radius: 1rem;
				cursor: pointer;
			}
		}

		&-item {
			display: flex;
			flex-wrap: wrap;

			width: 75rem;
			padding: 1.5rem 1.5rem 1.3rem;
			background-color: $color-white;
			border: 1px solid $customer-color-primary-dark;
			border-radius: 1rem;

			margin-top: 0.3rem;

			opacity: 0;
			visibility: hidden;

			transition: all 0.25s;

			position: absolute;
			bottom: -8.8rem;

			&--list {
				cursor: pointer;
				transition: all 0.25s;
				margin-bottom: 0.2rem;

				&:hover {
					color: rgba($customer-color-primary-dark, 0.6);
				}

				&:not(:last-child) {
					margin-right: 2rem;
				}
			}
		}

		&-list:hover &-item {
			opacity: 1;
			visibility: visible;
		}
	}

	&-group {
		display: flex;

		align-items: center;
	}

	&__product-list {
		padding-top: 2rem;
		border-top: 1px solid rgba($color-grey-light-4, 0.5);
	}

	&__product {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-img {
			width: 6rem;
			height: 6rem;

			img {
				height: 100%;
			}
		}

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			text-align: left;

			margin-left: 1rem;
		}

		&-name {
			font-size: 1.6rem;
			font-weight: 500;
		}

		&-note {
			font-size: 1.4rem;
			font-weight: 500;
			color: $color-heading;
		}

		&-price {
			font-size: 1.6rem;
			font-weight: 600;
			color: $admin-color-primary;

			margin-right: 3rem;

			@include respond(only-tablet) {
				margin-right: 2rem;
			}

			@include respond(land-phone) {
				margin-right: 1rem;
			}
		}
	}

	&-btn {
		margin-left: auto;
		font-size: 1.4rem;
	}
}

.close-modal {
	position: absolute;
	top: 1rem;
	right: 3rem;

	font-size: 2rem;
}
