/* =================== Main ================== */
.product {
	width: 100%;
	height: 100%;

	&--active {
		z-index: 1;
	}

	&__heading {
		margin-left: 2rem;
		position: relative;
		z-index: 2;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;

			display: block;
			width: 80%;
			height: 2px;
			background-color: $color-white;
		}

		&--item {
			display: inline-block;
			padding: 0.8rem 2rem;
			min-width: 17rem;

			border: 2px solid $color-primary-light;
			border-bottom-color: $color-white;
			border-radius: 1.5rem 1.5rem 0 0;
			background-color: $color-primary-light;
			color: $color-white;

			text-align: center;
			font-family: $font-montserrat;
			font-size: 1.5rem;
			font-weight: 600;

			cursor: pointer;
			transition: all 0.25s;

			&-active {
				background-color: $color-white;
				color: $color-font;
			}

			i {
				margin-right: 0.6rem;
			}
		}
	}

	&-type {
		display: flex;
		align-items: center;

		&__item {
			border: 2px solid $color-grey-light-4;
			padding: 0.5rem 1.5rem;
			width: 15rem;

			display: flex;
			align-items: center;
			justify-content: space-between;

			&:not(:last-child) {
				margin-right: 3rem;
			}
		}

		&__name {
			color: $color-primary;
			display: inline-block;
			position: relative;
			cursor: pointer;

			&::after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);

				display: inline-block;
				width: 0;
				height: 2px;
				background-color: $color-primary;

				transition: all 0.25s;
			}

			&:hover::after {
				width: 100%;
			}
		}
	}

	&-content {
		margin-top: -4px;

		border: 2px solid $color-primary;
		border-radius: 1rem 1rem 0 0;

		transition: all 0.25s;

		&-1 {
			padding: 2rem;
			padding-bottom: 6rem;

			border-bottom: 2px solid $color-grey-light-3;
		}

		&-2 {
			padding: 2rem;
		}
	}

	&-form {
		margin-left: 10rem;
	}

	&-btn {
		margin-top: 2rem;
	}
}
