/* =============== Reset HTML ================ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* =================== Base ================== */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5% !important;
}
@media only screen and (max-width: 767.98px) {
  html {
    font-size: 50% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 56.25% !important;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 75% !important;
  }
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

::-webkit-scrollbar {
  width: 0;
}

::-moz-selection {
  background: #eb2f64;
  /* Gecko Browsers */
  color: #fff;
}

::selection {
  background: #eb2f64;
  /* WebKit/Blink Browsers */
  color: #fff;
}

/* ================ Typography =============== */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #545d7a;
  scroll-behavior: smooth;
}

.heading-5, .heading-4, .heading-3, .heading-2, .heading-1, .heading-1--sub, .heading-1--main {
  display: inline-block;
  font-family: "Source Serif Pro", serif;
  color: #928b8b;
  cursor: default;
}

.heading-1, .heading-1--sub, .heading-1--main {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.heading-1--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}
@media only screen and (max-width: 767.98px) {
  .heading-1--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}
.heading-1--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  margin-bottom: 6rem;
}
@media only screen and (max-width: 767.98px) {
  .heading-1--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-2 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #00d3e0, #2171cb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.25s;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .heading-2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .heading-2 {
    font-size: 2.5rem;
    padding: 0 1rem;
  }
}

.heading-3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.heading-3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 40%;
  height: 2px;
  background-color: #928b8b;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.heading-3:hover::after {
  width: 100%;
}

.heading-4 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #eb2f64;
  border-bottom: 2px solid #eb2f64;
  margin-bottom: 3rem;
}

.heading-5 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #777;
  margin-bottom: 1.5rem;
}

.heading-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

/* ================ Animations =============== */
.animation-blur {
  position: relative;
}
.animation-blur::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  animation: blur 1.5s infinite;
}
.animation-blur:hover::after {
  z-index: -1;
  animation: none;
}
@keyframes blur {
  from {
    transform: scale(1);
    z-index: -1;
  }
  to {
    transform: scale(2);
    opacity: 0;
    z-index: 1;
  }
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
/* ================ Grid core ================ */
.row {
  display: flex;
  flex-wrap: wrap;
}
.row:not(:last-child) {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 767.98px) {
  .row:not(:last-child) {
    margin-bottom: 5rem;
  }
}
.row [class^=col-] {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 5rem;
}
@media only screen and (max-width: 767.98px) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .row [class^=col-] {
    width: 100% !important;
    max-width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 5rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 5rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 5rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem);
}
.row .col-1-of-5 {
  width: calc((100% - 4 * 5rem) / 5);
}
.row .col-2-of-5 {
  width: calc(2 * ((100% - 4 * 5rem) / 5) + 5rem);
}
.row .col-3-of-5 {
  width: calc(3 * ((100% - 4 * 5rem) / 5) + 2 * 5rem);
}
.row .col-4-of-5 {
  width: calc(4 * ((100% - 4 * 5rem) / 5) + 3 * 5rem);
}
.row .col-1-of-6 {
  width: calc((100% - 5 * 5rem) / 6);
}
.row .col-2-of-6 {
  width: calc(2 * ((100% - 5 * 5rem) / 6) + 5rem);
}
.row .col-3-of-6 {
  width: calc(3 * ((100% - 5 * 5rem) / 6) + 2 * 5rem);
}
.row .col-4-of-6 {
  width: calc(4 * ((100% - 5 * 5rem) / 6) + 3 * 5rem);
}
.row .col-5-of-6 {
  width: calc(5 * ((100% - 5 * 5rem) / 6) + 4 * 5rem);
}

/* ================== Header ================= */
.header__logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-user {
  display: flex;
  align-items: center;
}
.header__nav-user--photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
}
.header__nav-user--name {
  font-family: "Source Serif Pro", serif;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

/* =================== Main ================== */
.product {
  width: 100%;
  height: 100%;
}
.product--active {
  z-index: 1;
}
.product__heading {
  margin-left: 2rem;
  position: relative;
  z-index: 2;
}
.product__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 80%;
  height: 2px;
  background-color: #fff;
}
.product__heading--item {
  display: inline-block;
  padding: 0.8rem 2rem;
  min-width: 17rem;
  border: 2px solid #ff3366;
  border-bottom-color: #fff;
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: #ff3366;
  color: #fff;
  text-align: center;
  font-family: "Source Serif Pro", serif;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s;
}
.product__heading--item-active {
  background-color: #fff;
  color: #545d7a;
}
.product__heading--item i {
  margin-right: 0.6rem;
}
.product-type {
  display: flex;
  align-items: center;
}
.product-type__item {
  border: 2px solid #ccc;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-type__item:not(:last-child) {
  margin-right: 3rem;
}
.product-type__name {
  color: #eb2f64;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.product-type__name::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: #eb2f64;
  transition: all 0.25s;
}
.product-type__name:hover::after {
  width: 100%;
}
.product-content {
  margin-top: -4px;
  border: 2px solid #eb2f64;
  border-radius: 1rem 1rem 0 0;
  transition: all 0.25s;
}
.product-content-1 {
  padding: 2rem;
  padding-bottom: 6rem;
  border-bottom: 2px solid #f0eeee;
}
.product-content-2 {
  padding: 2rem;
}
.product-form {
  margin-left: 10rem;
}
.product-btn {
  margin-top: 2rem;
}

/* =================== Side-Nav ================== */
.side-nav {
  margin-top: 2.5rem;
}
@media only screen and (max-width: 991.98px) {
  .side-nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}
.side-nav__item {
  position: relative;
  z-index: 1;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 991.98px) {
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 3px;
  background-color: #eb2f64;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 0.25s, width 0.25s cubic-bezier(1, 0, 0, 1) 0.25s, background-color 0.1s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  width: 100%;
  transform: scaleY(1);
}
.side-nav__item:active::before {
  background-color: #ff3366;
}
.side-nav__link:link, .side-nav__link:visited {
  color: #faf9f9;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
}
.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1rem;
  fill: currentColor;
}
.side-nav__heading {
  font-size: 1.4rem;
}

.legal {
  font-size: 1.4rem;
  color: #ccc;
  text-align: center;
  padding: 2.5rem;
}
@media only screen and (max-width: 991.98px) {
  .legal {
    display: none;
  }
}

/* ================= Buttons ================= */
.btn, .btn:link, .btn:visited {
  appearance: none;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.25s;
  position: relative;
  border: none;
}
.btn:hover, .btn:focus {
  outline: none;
  box-shadow: 0 0.6rem 2rem rgba(47, 53, 54, 0.3);
  transform: translateY(-0.5rem);
}
.btn:active {
  box-shadow: 0 0.8rem 1.5rem rgba(47, 53, 54, 0.2);
  transform: translateY(0.5rem);
}
.btn-group {
  display: flex;
  justify-content: center;
}
.btn-group > *:first-child {
  margin-right: 3rem;
}
.btn-group > *:last-child {
  margin-left: 3rem;
}
.btn-add {
  padding: 1.3rem 6rem;
  color: #fff;
  background-color: #eb2f64;
  margin-top: 1rem;
}
.btn-cancel {
  padding: 1.3rem 6.3rem;
  color: #fff;
  background-color: #ccc;
  margin-top: 1rem;
}
.btn-cancel:hover, .btn-cancel:focus {
  outline: none;
  box-shadow: 0 1rem 2.4rem rgba(47, 53, 54, 0.2);
  transform: translateY(0);
}
.btn-cancel:active {
  box-shadow: transparent;
  transform: translateY(0);
}
.btn-success {
  background-color: #eb2f64;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
.btn-login {
  width: 100%;
  padding: 1.5rem 3rem;
  background-color: #7f8fa6;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 1rem;
  margin: 3rem 0 0;
}
.btn-pdf {
  padding: 1.2rem 3rem;
  background-color: #f0eeee;
  font-weight: 500;
  color: #545d7a;
  transition: all 0.25s;
}
.btn-pdf:hover {
  background-color: #00d3e0;
  color: #fff;
}
.btn-accessories {
  margin-left: auto;
}
.btn-choose {
  padding: 1.2rem 4rem;
  color: #fff;
  background: linear-gradient(to right, #00d3e0, #00a5e7);
}
.btn-edit {
  padding: 1.2rem 4rem;
  min-width: 12.5rem;
  color: #fff;
  background: linear-gradient(to right, #ccc, rgba(127, 143, 166, 0.7));
}

/* ================== Header ================= */
.clock {
  width: 360px;
  position: relative;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 1rem;
  cursor: default;
  animation: animate 4s linear infinite;
}
.clock__display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 80%;
  width: 96%;
  background: #444444;
  border-radius: 6px;
  text-align: center;
}
.clock__display #time {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 4s linear infinite;
}

/* =================== Configuration ================== */
.configuration {
  background-color: #fff;
  padding: 2rem;
  min-height: 80vh;
}
.configuration__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.configuration__list {
  display: flex;
}
.configuration__item {
  padding: 0.7rem 2rem;
  background-color: #f0eeee;
  border-radius: 0.7rem;
  color: currentColor;
  cursor: pointer;
  transition: all 0.25s;
}
.configuration__item.active {
  color: #fff;
  background: linear-gradient(to right, #00d3e0, #00a5e7);
}
.configuration__item.active:hover {
  background: linear-gradient(to right, #00d3e0, #00a5e7);
}
.configuration__item:hover {
  background: #ccc;
}
.configuration__item:not(:last-child) {
  margin-right: 2.5rem;
}
.configuration__pdf {
  text-align: center;
  padding: 2rem 3.5rem;
  border: 1px solid #333;
  border-radius: 0.6rem;
}
.configuration__cost {
  margin-bottom: 1rem;
}
.configuration__cost--heading {
  font-weight: 400;
}
.configuration__cost--number {
  font-weight: 500;
  color: #eb2f64;
}
.configuration__contact {
  margin-top: 1rem;
}

/* =================== Accessories ================== */
.accessories {
  display: flex;
  align-items: center;
}
.accessories > * {
  border: 1px solid #ccc;
}
.accessories:not(:last-child) {
  margin-bottom: 2rem;
}
.accessories__heading {
  margin-right: 0.5rem;
}
.accessories__img {
  width: 10rem;
  height: 10rem;
}
.accessories__img img {
  height: 100%;
}
.accessories__content {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.accessories__price {
  font-size: 1.6rem;
  font-weight: 500;
  color: #eb2f64;
}

/* =================== Form ================== */
.form {
  display: block;
  text-align: center;
}
.form__group {
  display: flex;
  align-items: center;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__group-big {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__group-big:not(:last-child) {
  margin-bottom: 2rem;
}
.form__label {
  font-family: "Source Serif Pro", serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  width: 14rem;
  min-width: 14rem;
}
.form__label span {
  color: #ee5253;
}
.form__input {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  border-radius: 1.1rem;
  border: 1px solid #ccc;
  width: 100%;
  padding: 1rem 1.5rem;
}
.form__input:focus {
  outline: none;
}
.form__area {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  border-radius: 1.1rem;
  border: 1px solid #ccc;
  padding: 1rem 1.5rem;
}
.form__area:focus {
  outline: none;
}
.form__select {
  padding: 0.8rem 3.3rem;
  border: 1px solid #ccc;
  border-radius: 1.1rem;
}
.form__select:focus {
  outline: none;
}
.form__number {
  margin: auto;
  font-size: 1.5rem;
}
.form__number .arrow-minus,
.form__number .arrow-plus {
  border: none;
  outline: none;
  background-color: #ccc;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #545d7a;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: all 0.25s;
}
.form__number .arrow-minus:hover,
.form__number .arrow-plus:hover {
  color: #fff;
  background-color: #00d3e0;
  box-shadow: 0 0.5rem 2rem rgba(47, 53, 54, 0.3);
}
.form__number input[type=number]::-webkit-inner-spin-button,
.form__number input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.form__number input[type=number] {
  -moz-appearance: textfield;
  outline: none;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 50%;
}
.form__group-file {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 2rem auto 1rem;
}
.form__input--heading {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1.1rem;
  color: currentColor;
  padding: 1rem 0;
  cursor: pointer;
  z-index: 0;
}
.form__input-file {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100%;
  height: 5rem;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.form .file-placeholder {
  width: 20rem;
  height: 20rem;
  margin: 1rem auto;
  background-color: #f0eeee;
}

/* =================== Icon ================== */
.times-icon-2, .plus-icon {
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.25s;
}
.times-icon-2 i, .plus-icon i {
  font-weight: 500;
}

.plus-icon {
  border: 2px solid #999;
  background-color: transparent;
  color: currentColor;
}
.plus-icon:hover {
  transform: translateY(-3px);
  border-color: transparent;
  background-color: #eb2f64;
  color: #fff;
  box-shadow: 0 1rem 2.4rem rgba(47, 53, 54, 0.2);
}

.times-icon {
  cursor: pointer;
}
.times-icon i {
  font-weight: 500;
}
.times-icon:hover {
  color: #eb2f64;
}

.times-icon-2 {
  border: 2px solid #999;
}
.times-icon-2:hover {
  border-color: transparent;
  background-color: #eb2f64;
  color: #fff;
}

/* ================ Typography =============== */
.loading {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2rem);
}
.loading-icon {
  width: 9rem;
  height: 9rem;
  animation: shakeeeed 2s infinite reverse;
}

@keyframes shakeeeed {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(35deg);
  }
}
/* =================== Login ================== */
.login {
  color: #545d7a;
  margin-top: 5rem;
  border: 0.8rem solid rgba(218, 225, 245, 0.4);
  border-radius: 2rem;
  width: 66vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}
.login > * {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.login__heading {
  text-align: center;
}
.login__img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}
.login-left {
  width: 50%;
  padding-left: 5rem;
  padding-right: 5rem;
}
.login-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 1;
}
.login-right::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../../images/banner08.jpg) no-repeat center/cover;
  border-radius: 0 1rem 1rem 0;
  z-index: -1;
}
.login-form__group:not(:last-child) {
  margin-bottom: 3rem;
}
.login-form__label {
  display: block;
  font-family: "Source Serif Pro", serif;
  color: #253258;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.login-form__input {
  width: 100%;
  border: 2px solid #dae1f5;
  padding: 1rem 1rem;
  border-radius: 1rem;
  color: #545d7a;
}
.login-form__input:focus {
  outline: none;
}
.login-form__input:invalid {
  border: 2px solid #eb4d4b;
}
.login-form__input:valid {
  border: 2px solid #dae1f5;
}
.login-form__option {
  display: flex;
  justify-content: space-between;
}

.quotes-box {
  color: #545d7a;
  position: absolute;
}
.quotes-box-1 {
  top: 2rem;
  left: 3rem;
}
.quotes-box-2 {
  bottom: 4rem;
  right: 3rem;
}
.quotes__parag {
  font-size: 1.6rem;
  color: inherit;
  position: relative;
}
.quotes__author {
  font-family: "Source Serif Pro", serif;
  font-size: 1.6rem;
  color: inherit;
  position: absolute;
  right: 1rem;
}
.quotes__icon {
  font-size: 1rem;
  position: absolute;
}
.quotes__icon-1 {
  left: -1.5rem;
}
.quotes__icon-2 {
  right: -1.5rem;
}

/* =================== Modal ================== */
.configuration-modal, .msg-modal, .add-product-modal, .add-modal, .modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.configuration-modal, .msg-modal, .add-product-modal, .add-modal {
  z-index: 9;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 2rem rgba(47, 53, 54, 0.3);
  text-align: center;
  padding: 2.5rem 3rem;
}

.modal {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1rem);
  z-index: 8;
  transition: all 0.3s;
}
.modal.hide {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -2;
}

.add-modal {
  width: 50rem;
}
.add-modal.hide {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -2;
}

.add-product-modal {
  width: 80rem;
}
.add-product-modal .form__group:not(:last-child) {
  margin-bottom: 0;
}
.add-product-modal.hide {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -2;
}

.msg-modal {
  width: 35rem;
}
.msg-modal__content {
  color: #545d7a;
  font-size: 1.6rem;
  word-break: break-word;
  margin-bottom: 1.5rem;
}

.configuration-modal-group {
  display: flex;
  align-items: center;
}
.configuration-modal__product-list {
  padding-top: 2rem;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
}
.configuration-modal__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.configuration-modal__product-img {
  width: 8rem;
  height: 8rem;
}
.configuration-modal__product-img img {
  height: 100%;
}
.configuration-modal__product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  margin-left: 1rem;
}
.configuration-modal__product-name {
  font-size: 1.7rem;
  font-weight: 500;
}
.configuration-modal__product-note {
  font-size: 1.5rem;
  font-weight: 500;
  color: #928b8b;
}
.configuration-modal__product-price {
  font-size: 1.7rem;
  font-weight: 600;
  color: #eb2f64;
  margin-right: 3rem;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .configuration-modal__product-price {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .configuration-modal__product-price {
    margin-right: 1rem;
  }
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 2rem;
}

/* =================== pagination ================== */
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}
.pagination__list {
  display: flex;
}
.pagination__item {
  border: 1px solid #ccc;
  padding: 0.5rem 1.4rem;
  cursor: pointer;
  transition: all 0.25s;
}
.pagination__item:not(:last-child) {
  margin-right: 1.5rem;
}
.pagination__link {
  color: #eb2f64;
  transition: all 0.25s;
}
.pagination__item:hover {
  border-color: transparent;
  background-color: #eb2f64;
}
.pagination__item:hover .pagination__link {
  color: #fff;
}
.pagination__item--active {
  border-color: transparent;
  background-color: #eb2f64;
}
.pagination__item--active .pagination__link {
  font-weight: 600;
  color: #fff;
}

/* =================== Search ================== */
.search {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 2rem auto;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #f4f2f2;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 30rem;
  width: 90%;
  margin-right: -3.5rem;
  transition: all 0.25s;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #f0eeee;
}
.search__input::-webkit-input-placeholder {
  color: #ccc;
}
.search__input:focus + .search__button {
  background-color: #f0eeee;
}
.search__button {
  border: none;
  background-color: #f4f2f2;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  font-size: 2rem;
  color: #999;
}

/* =================== Table ================== */
.table {
  width: 90%;
  margin: 2rem auto;
}
.table-header {
  background-color: #ff3366;
  border-radius: 1rem 1rem 0 0;
}
.table-heading__list, .table-content__list {
  padding: 0 1rem;
  display: flex;
}
.table-heading__item {
  color: #fff;
  font-family: "Source Serif Pro", serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.table-heading__item:not(:last-child) {
  border-right: 2px solid #fff;
}
.table-body {
  border: 2px solid #ff3366;
}
.table-content__list:not(:last-child) {
  border-bottom: 2px solid #ff3366;
}
.table-content__item {
  text-align: center;
}
.table-content__item:not(:last-child) {
  border-right: 2px solid #ff3366;
}
.table-heading__item, .table-content__item {
  padding: 8px 5px;
  display: block;
}
.table-heading__item:first-child, .table-content__item:first-child {
  width: 10%;
}
.table-heading__item:nth-child(2), .table-content__item:nth-child(2) {
  width: 25%;
}
.table-heading__item:nth-child(3), .table-content__item:nth-child(3) {
  width: 15%;
}
.table-heading__item:nth-child(4), .table-content__item:nth-child(4) {
  width: 18%;
}
.table-heading__item:nth-child(5), .table-content__item:nth-child(5) {
  width: 18%;
}
.table-heading__item:last-child, .table-content__item:last-child {
  width: 15%;
}
.table-content__link {
  color: #eb2f64;
  font-weight: 500;
  text-decoration: underline !important;
  display: inline-block;
  transition: all 0.25s;
}
.table-content__link:hover, .table-content__link:focus {
  outline: none;
  transform: translateY(-3px);
}

/* =================== Home ================== */
.container {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  padding: 3rem;
}
.wrapper-customer {
  background: linear-gradient(to right, #2171cb, #00d3e0);
}
@media only screen and (max-width: 1199.98px) {
  .wrapper {
    padding: 2rem;
  }
}

.header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem 2rem;
  background-color: #f7f7f7;
  border-radius: 1rem 1rem 0 0;
}

.content {
  display: flex;
}
@media only screen and (max-width: 991.98px) {
  .content {
    flex-direction: column;
  }
}

.sidebar {
  background-color: #2f3536;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
  padding: 1.2rem;
  background-color: #fff;
}
